################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build-web
/viewer/node_modules
/viewer/dist
imgui.ini
